<ul class="list-group container w-25 mt-5">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <data class="bi-card-text"> Total pages:</data>
        <span class="badge badge-primary badge-pill"><?= $total_pages ?></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <data class="bi-image"> Total gallery images:</data>
        <span class="badge badge-primary badge-pill"><?= $total_images ?></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <data class="bi-person-circle"> Total users registered:</data>
        <span class="badge badge-primary badge-pill"><?= $total_users ?></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <data class="bi-box-seam"> Total products in shop:</data>
        <span class="badge badge-primary badge-pill"><?= $total_products ?></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <data class="bi-card-list"> Total orders:</data>
        <span class="badge badge-primary badge-pill">
            <?= $total_orders ?>
        </span>
    </li>
</ul>