<style>
    .i {
        width: 350px;
    }
    .y {
        width: 100px;
    }
    textarea {
        width: 500px;
    }
</style>



<form method="post" action="" enctype="multipart/form-data">
    <div class="text-center mt-4">
        <h3>Edit product <?= $product->id ?></h3>
        <img class="my-4 img-fluid" src="/assets/images/shop/thumbnails/<?=$product->image_name ?? ''?>" alt="">


        <div class="justify-content-center row mt-5 font-weight-bold">
            <div class="mx-3">
                <label class="font-weight-bold">Product name</label>
                <br>
                <input class="i text-center" type="text" name="new-name" placeholder="Enter product name" value="<?= $product->name ?>">
                <div class="text-danger">
                    <?=$errors['new-name'] ?? '' ?>
                </div>
            </div>
            <div class="mx-3">
                <label>Product type</label>
                <br>
                <input class="i text-center" type="text" name="new-type" placeholder="Enter product type" value="<?= $product->type ?>">
            </div>
        </div>
        <div class="mt-5 font-weight-bold">
            <label>Description</label>
            <br>
            <textarea name="new-description" rows="10" placeholder="Enter product description"><?= $product->description ?></textarea>
        </div>
        <div class="font-weight-bold mt-4">
            <label>Product weight</label>
            <br>
            kg <input type="text" name="new-weight" class="y" value="<?= $product->product_weight ?>">
            <div class="text-danger">
                <?=$errors['new-weight'] ?? '' ?>
            </div>
        </div>
        <div class="font-weight-bold mt-4">
            <label>Product price (USD)</label>
            <br>
            $ <input type="text" name="new-price" class="y" value="<?= $product->price ?>">
            <div class="text-danger">
                <?=$errors['new-price'] ?? '' ?>
            </div>
        </div>
        <div class="font-weight-bold my-5">
            <label>Product image</label>
            <br>
            <input class="btn btn-dark" type="file" name="new-img">
            <div class="text-danger">
                <?= $errors['image-extension'] ?? '' ?>
            </div>
            <br>
            <button class=" my-3 btn btn-primary" type="submit" name="edit-product" value="1">Save changes</button>
        </div>
    </div>
</form>

