<div class="my-5 container-fluid">
    <div class="card container shadow px-0" style="width: 550px; height: 650px;">
        <div>
            <ul class="px-0">
                <li class="list-group-item mx-auto">
                    Username: <b class="float-right"><?= $user->username ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    First name: <b class="float-right"><?= $user->fname ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Last name: <b class="float-right"><?= $user->lname ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Email: <b class="float-right"><?= $user->email ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Phone: <b class="float-right"><?= $user->phone ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Address: <b class="float-right"><?= $user->address ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Postal code: <b class="float-right"><?= $user->postal_code ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Country: <b class="float-right"><?= $user->country ?></b>
                </li>
                <li class="list-group-item mx-auto">
                    Privileges: <b class="float-right"><?= $user->privileges ?></b>
                </li>
            </ul>
        </div>
    </div>
</div>