<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-12">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <ul class="list-group">
                        <div class="list-group-item font-weight-bold">
                            <label class="col-1">ID</label>
                            <label class="col-2">Last name</label>
                            <label class="col-2">Email</label>
                            <label class="col-2">Phone</label>
                            <label class="col-2">Payment method</label>
                        </div>

                        <?php foreach($orders as $order): ?>
                        <li class="list-group-item">
                            <label class="col-1">
                                <?= $order->order_id ?>
                            </label>
                            <label class="col-2">
                                <?= $order->lname ?>
                            </label>
                            <label class="col-2">
                                <?= $order->email ?>
                            </label>
                            <label class="col-2">
                                <?= $order->phone ?>
                            </label>
                            <label class="col-2">
                                <?= $order->payment_method ?>
                            </label>
                            <div class="float-right">
                                <a class="bi bi-zoom-in btn btn-primary"
                                    href="/admin?section=orders&action=details&id=<?=$order->order_id?>"> Details</a>
                            </div>
                        </li>
                        <?php endforeach ?>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>