<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-12">
            <div class="panel panel-primary">
                
                <div class="panel-body">
                    <ul class="list-group">
                        <div class="list-group-item font-weight-bold">
                            <label class="col-1">ID</label>
                            <label class="col-8">page title</label>
                        </div>
                        
                        <?php foreach($pages as $page): ?>
                        <li class="list-group-item">
                            <label class="col-1">
                                <?= $page->id ?>
                            </label>
                            
                            <label class="col-8">
                                <?= $page->main_title ?>
                            </label>
                            <div class="float-right">
                                <a class="bi bi-pencil btn btn-primary" href="/admin?section=pages&action=edit&id=<?=$page->id?>"> Edit</a>
                            </div>
                        </li>
                        <?php endforeach ?>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>