<header class="bg-dark py-1 shadow">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                Thank you for buying with us
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Your order will be processed as quickly as possible.
            </p>
        </div>
    </div>
</header>
<div class="text-center mt-5">
    <a class="btn btn-outline-primary" href="/shop">Back to the shop</a>
</div>

<div style="height: 430px;">

</div>